#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Monitor kids activity"
#define VER_INTERNALNAME_STR        "findapp.exe"
#define VER_FILEVERSION_STR         "1.0.0.0"
#define VER_FILEVERSION             1,0,0,0
#define VER_LEGALCOPYRIGHT_STR      "Copyright (C) 2017 Wei Mao"

#include <common.ver>
